RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]

# Redirigir las nuevas vistas del cliente en la carpeta views
RewriteRule ^cliente_informacion$ views/cliente_informacion.php [L]
RewriteRule ^cliente_credito$ views/cliente_credito.php [L]
RewriteRule ^cliente_proximo_pago$ views/cliente_proximo_pago.php [L]
RewriteRule ^cliente_historial$ views/cliente_historial.php [L]

# Redirigir la vista del administrador
RewriteRule ^admin$ views/admin.php [L]

# Redirigir la vista del cobrador
RewriteRule ^cobrador$ views/cobrador.php [L]

# Redirigir la vista del cliente
RewriteRule ^cliente$ views/cliente.php [L]

<!-- RewriteEngine On
RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Redirigir a index.php para manejar la URL
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]

# Redirigir las nuevas vistas del cliente en la carpeta views
RewriteRule ^cliente_informacion$ views/cliente_informacion.php [L]
RewriteRule ^cliente_credito$ views/cliente_credito.php [L]
RewriteRule ^cliente_proximo_pago$ views/cliente_proximo_pago.php [L]
RewriteRule ^cliente_historial$ views/cliente_historial.php [L]

# Redirigir la vista del administrador
RewriteRule ^admin$ views/admin.php [L]

# Redirigir la vista del cobrador
RewriteRule ^cobrador$ views/cobrador.php [L]

# Redirigir la vista del cliente
RewriteRule ^cliente$ views/cliente.php [L] -->
